<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Access</title>
</head>
<body>
  <header class="l-header">
    <nav class="c-nav">
      <ul class="c-list">
        <li class="c-item"><a href="/index.html">HOME</a></li>
        <li class="c-item"><a href="/access.html">ACCESS</a></li>
      </ul>
    </nav>
  </header>
  <main class="l-main">
      <h1>ACCESS</h1>
      <div id="vue-root"></div>
      <img src="../images/logo.png" alt="">
      <img src="../images/care.jpg" alt="">
    </main>
  <footer class="l-footer">

  </footer>
</body>
</html>
